/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(247, 77, 77, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contact-active {
  background-color: #212121;
  border-radius: 5px;
}

.img-chat {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
}

.img-contact {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
}

.img-chat {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
}

.text-contact {
  font-size: 14px;
}

.text-contact-chat {
  color: #ababab;
}

.contact {
  display: flex;
  align-items: center;
}
.contact img {
  flex-grow: 0;
  flex-shrink: 0;
}

.contact ul {
  list-style-type: none;
}

.contact:hover {
  background-color: #212121;
  transition: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}

.contact:active {
  background-color: #3d3d3d;
  transition: 0.3s;
}

.contact-active {
  background-color: #212121;
  border-radius: 5px;
}

.input-message {
  width: 100%;
  height: 90%;
  background: rgba(171, 171, 171, 0.15);
  border: none;
  color: #ffffff;
}

.chat-me {
  color: aliceblue;
  position: relative;
  background: #262626;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 400px;
}

.chat-me::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -15px;
  border-top: 15px solid transparent;
  border-left: 20px solid #262626;
  border-bottom: 15px solid transparent;
}
.chat-other {
  color: aliceblue;
  position: relative;
  background: #575757;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 400px;
}

.chat-other::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;
  border-top: 15px solid transparent;
  border-right: 20px solid #575757;
  border-bottom: 15px solid transparent;
}